html {font-size: 100%;} 

h1 {font-size: 2.488rem;
    font-family: 'Caveat Brush', cursive;
    color: #17000A;}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}
   
h2 h3 h4 h5 {
    color: #17000A;
    font-family: 'Montserrat', sans-serif;}

body {
    color: #17000A;
    font-family: 'Lustria', serif;
}

.navbar-expand-lg .navbar-nav li a{
    font-family: "Caveat Brush", cursive;
    font-size: 1.44rem ;
    color: #F8EFFF;
    padding-left: 200px !important;
}

.navbar-expand-lg .container-fluid .col-7 .navbar-text{
    font-family: "Caveat Brush", cursive;
    font-size: 0.833rem;
    color: #F8EFFF !important;
    margin-left: 50px !important;
}

.navbar-expand-lg .container-fluid .col-5 .navbar-brand{
    margin-left: 2% !important;}

.navbar-nav .nav-item.active a.nav-link {
        color: #C4B2B5;
    }

#homeLayout{
    margin-top: 25px !important
}

#homeImage img {
    height: 100vh !important;
    width: 100% !important;
    margin: 25px 0px;
}

.container-fluid {
    padding: 0 !important;
    margin-right: 0 !important
}

.header-section{
    margin: 125px 5% 2%;}

.body-section {
    margin: 1% 7% 2%;
}

.subHeading-section {
    margin: 5% 7% 2%;
    
}

#aboutMeImage img {
    margin: 115px 0;
    height: 100%;
    width: 100%
}

#selectedWorks{
    margin: 2% 7%;
}

#selectedWorks li {
    margin-bottom: 5%;
}
#selectedWorks a {
    color: #17000A;
    font-family: 'Lustria', serif;
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 50vh;
    width: 100%;
    margin-right: 5%;}


#commissions {
    border-bottom: 1px solid #800035;
    width: 100%;
}

#faq {
    border-top: 1px solid transparent;
    width: 100%;
}

#faq h4{
    border-bottom: 1px solid #800035;
    width: 100%;
}

#pricingInfo .accordion {
    margin-bottom: 8% !important;
    width: 100%;
    margin-right: 0%;
}
#pricingInfo .accordion-item {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
#pricingInfo .accordion-item h2.accordion-header {
    color: #17000A !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 2.074rem;
    border-bottom: 1px solid #800035;
}

.accordion-body {
    border-bottom: 1px solid #800035;
    width: 100%;
}

#pricingInfo .accordion-button:not(.collapsed){
    background-color: transparent !important;
    border-color: transparent;
    color: #17000A !important;
    box-shadow: none !important;}

#pricingInfo .accordion-button {
    box-shadow: none !important;
    border-color: transparent;
}

#pricingInfo .accordion-button:focus  {
    border-color: transparent !important;
}


div #sampleImages .card img{
    height: 300px !important;
    width: 100% !important;
}

div #sampleImages .card-body .card-text{
    height: 10px !important;
    width: 300px !important; 
    color: #17000A;
    font-family: 'Lustria', serif;
    text-align: center;
}

.pricing_imgTop {
    margin-top: 125px !important;
    height: 350px !important;
    width: 302px !important;
}
.pricing_imgLeft {
    margin-left: 100px;
}

.pricing_imgRight {
    margin-left:100px;
}

.pricing_imgBottom{
    margin-top: 50px;
    margin-bottom: 125px;
    height: 350px !important;
    width: 302px !important;
}

#contactMe_form {
    margin: 125px 125px 125px 175px;
    padding: 10px;
    width: 75%;
    border: 1px solid #800035;
    color: #17000A;
    font-family: 'Lustria', serif;
    transition-duration: 0s; }

#contactMe_form .form-control {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

#contactMe_form .form-control:focus {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-color:#800035;
    box-shadow: none;}

#contactSubmitButton{
    font-family: "Caveat Brush", cursive;
    color: #17000A;
    background-color: #F8EFFF;
    border-color: #800035;
    font-size: 1.2rem;
    padding: 5px 20px;
}

#message{
    margin-top: 125px;
    width: 75%;
    margin-right: auto !important;
    margin-left: auto;
    text-align: center;
    border: 1px solid #800035;
}

#galleryLayout {
    margin-top: 125px;
    margin-bottom: 75px;

}
   
#filterCol{
    border-right: 2px solid #800035;
}

#galleryFilter.dropdown {
    position: fixed !important;
    margin-left: 10px;
}
    

#galleryFilter.dropdown .btn{
    color: #17000A !important;
    background-color: #F8EFFF;
    border-color: #800035;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.44rem;
    padding: 10% 60%;
}



#galleryFilter.dropdown .btn-secondary.active, 
#galleryFilter.dropdown .btn-secondary:focus {
    background-color: #C4B2B5;
}

#galleryFilter.dropdown .dropdown-menu {
    border-color: transparent;
}

#galleryFilter.dropdown .dropdown-item{
    color: #17000A !important;
    background-color: #F8EFFF;
    border: 1px solid #800035;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.2rem;
    text-align: center;
    padding: 5% 
}


    
.img-thumbnail{
    height: 300px;
    width:300px;
    margin-bottom: 25px;
};




