html {font-size: 100%;} 

h1 {font-size: 2.488rem;
    font-family: 'Caveat Brush', cursive;
    color: #17000A;}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}
   
h2 h3 h4 h5 {
    color: #17000A;
    font-family: 'Montserrat', sans-serif;}

body {
    color: #17000A;
    font-family: 'Lustria', serif;
}

.navbar-expand-lg .navbar-nav li a{
    font-family: "Caveat Brush", cursive;
    font-size: 1.44rem ;
    color: #F8EFFF;
    padding-left: 200px !important;
}

.navbar-expand-lg .container-fluid .col-7 .navbar-text{
    font-family: "Caveat Brush", cursive;
    font-size: 0.833rem;
    color: #F8EFFF !important;
    margin-left: 50px !important;
}

.navbar-expand-lg .container-fluid .col-5 .navbar-brand{
    margin-left: 2% !important;}

#homeLayout{
    margin-top: 25px !important
}

#homeImage img {
    height: 100vh !important;
    width: 100% !important;
    margin: 25px 0px;
}

.container-fluid {
    padding: 0 !important;
    margin-right: 0 !important
}

.header-section{
    margin: 125px 5% 2%;}

.body-section {
    margin: 1% 7% 2%;
}

.subHeading-section {
    margin: 5% 7% 2%;
    
}

#aboutMeImage img {
    margin: 115px 0;
    height: 100%;
    width: 100%
}

#selectedWorks{
    margin: 2% 7%;
}

#selectedWorks li {
    margin-bottom: 5%;
}
#selectedWorks a {
    color: #17000A;
    font-family: 'Lustria', serif;
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 50vh;
    width: 100%;
    margin-right: 5%;}


#commissions {
    border-bottom: 1px solid #800035;
    width: 100%;
}

#faq {
    border-bottom: 1px solid #800035;
    width: 100%;
}

#faq h4{
    border-bottom: 1px solid #800035;
    width: 100%;
}

#pricingInfo {
    margin-bottom: 8% !important;
    width: 100%;
    margin-right: 0%;
}

#pricingInfo .accordion-item h2.accordion-header {
    color: #17000A !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 2.074rem;
    border-bottom: 1px solid #800035;
}

.accordion-body {
    border-bottom: 1px solid #800035;
    width: 100%;
}